body {
    font-family: monospace;
    background: linear-gradient(to right, hsl(60, 100%, 81%), hsl(120, 51%, 72%));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover{
    background-color: orangered;
    transform: scale(1.05);
}

.card{
    border: none;
    min-width: 200px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px grey;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, hsl(240, 96%, 72%) ,hsl(39, 97%, 65%));
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
}

p{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;

}

.cityDisplay{
    color: hsl(0, 2%, 22%);
}

.tempDisplay{
    color: hsl(0, 2%, 22%);
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.humidityDisplay{
    color: hsl(0, 2%, 22%);
    font-size: 1.5rem;
}

.descDisplay{
    color: hsl(0, 2%, 22%);
    font-size: 1.5rem;  
}

.weatherEmoji{
    font-size: 5rem;
}

.errorDisplay{
    font-size: 1.5rem;
    color: hsl(0, 0%, 0%);
    font-family: verdana;
}